@charset "UTF-8";

@font-face {
    font-family: bebasFonte;
    src: url(../fontes/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: minhaFonte;
    src: url(../fontes/idroid.otf) format(truetype);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}