.sessao_lista {
    background-color: #C5EBD6;
    border-radius: 10px;

}
.sessao_lista > .titulo_sessao {
    background-color: #2FA866;
    color: white;
    margin-top: 10px;
}
ul {
    columns: 2;
    list-style-position: inside;
    font-size: 14px;
    margin-left: 30px;
}